* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #000000, #3e5e81);
  margin-inline: 10px !important;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1cd8db6;
  margin-bottom: 20px;
  margin-top: 50px;
}
.textBoxAndBtn {
  /* border: #e1e1e1 solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#myButton {
  font-size: 14.5px;
  color: #f3efbcb4;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: rgba(184, 206, 134, 0.632);
  border-style: hidden;
  margin-inline-start: 20px;
}

#myButton:hover {
  background: linear-gradient(to right, #c1cd8d, #7b7b42);
}

#myButton:active {
  transform: translateY(1px) scale(0.99);
}

#textBox {
  height: 30px;
  color: #bcbebc;
  background: linear-gradient(to right, #65aedc42, #365c5c);
  border: #ffffff5b solid;
  border-radius: 10px;
  padding-inline: 20px;
  outline-style: none;
  font-size: medium;
}

#edit {
  color: #bcbebc;
  margin-left: 15px;
  border: none;
}
#delete {
  color: #bcbebc;
  margin-inline: 10px;
  border: none;
}

#delete:hover {
  color: rgba(235, 48, 48, 0.653);
}

#edit:hover {
  color: rgb(95, 214, 238);
}

ul {
  background: linear-gradient(to right, #65aedc42, #365c5c);
  border: #ffffff5b solid;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bcbebc;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
}

@media (max-width: 700px) {
  .main {
    font-size: large;
  }
  .heading {
    font-size: 40px;
  }
  ul {
    font-size: 14px;
  }
}
